body {
    background-color: var(--background-color, black);
    font-size: 20px;
    color: var(--text-color, white);
    font-family: monospace;
    overflow: hidden;
}

#terminal {
    height: calc(100vh - 30px);
    padding: 10px;
    white-space: pre-wrap;
    overflow-y: auto;
    margin-right: -1%;
}

#terminal::-webkit-scrollbar {
    width: 12px;
}

#terminal::-webkit-scrollbar-track {
    background: var(--scrollbar-track, #1b1b1b);
    border-radius: 10px;
}

#terminal::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb, #555);
    border-radius: 8px;
    border: 2px solid #1b1b1b;
    transition: background-color 0.3s ease;
}

#terminal::-webkit-scrollbar-thumb:hover {
    background-color: #696969;
}

input {
    width: 100%;
    border: none;
    background: var(--input-background, #333);
    color: var(--input-color, white);
    font-family: monospace;
    outline: none;
    font-size: 16px;
}

.red { color: red; }
.green { color: green; }
.yellow { color: yellow; }
.blue { color: blue; }
.reset { color: inherit; }
strong { font-weight: bold; }
.underline { text-decoration: underline; }
.italic { font-style: italic; }
